
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/node_modules/  
**/.pnp
.pnp.js

**/build/        
**/dist/

.env             
.env.local       
.env*.local       
**/.env.development
**/.env.production
**/.env.test
**/.env.staging

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
**/.cache/       # Parcel, Gatsby, etc.
**/logs/         # Log files

**/coverage/     # Jest, Cypress, etc.
**/.nyc_output/
**/cypress/screenshots/
**/cypress/videos/



backend/Database


**/venv/
**/.venv/      
*.pyc
__pycache__/